/* ========      Google Fonts      ========*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ============   Template Default Css   ============ */
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-transform: capitalize;
}
li {
  list-style: none;
}

a {
  color: inherit;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}
::placeholder {
  color: #ddd;
}

/* ==defult css end== */
header {
  width: [object Object]px;
  height: [object Object]px;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: -4px 4px 41px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -4px 4px 41px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -4px 4px 41px rgba(0, 0, 0, 0.5);
}
header h2 {
  color: #c82333;
}
